//在移动端的高度变量
@media-h-500:500px;

//桌面端的高度变量
@desktop-h-50:50%;



#app{
  min-height: 100vh;
}

.full{
  width: 100% !important;
  height: 100% !important;
}

.base-row{

  @media (min-width: 768px) {
    height: @desktop-h-50;  // 在电脑端的属性
  }
}

.line-div{
  @media (min-width: 768px) {
    height: 100%;  // 在电脑端的属性
  }
  height: @media-h-500
}

.area-div{
  @media (min-width: 768px) {
    height: 100%;  // 在电脑端的属性
  }
  height: @media-h-500;
}

.gauge-div{
  @media (min-width: 768px) {
    height: 100%;  // 在电脑端的属性
  }
  height: @media-h-500;
}

.re-text{
  @media (min-width: 768px) {
    font-size: 1.25rem !important;
  }
}

header{
  height: auto;

  @media (min-width: 768px) {
    height: 4vh !important;  // 在电脑端的属性
  }
}



main{
  height: auto;

  @media (min-width: 768px) {
    height: 96vh  // 在电脑端的属性
  }
}

.base-div{
  width: 100%;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.history-div1{
  height: auto;

  @media (min-width: 768px) {
    height: 20px;  // 在电脑端的属性
  }
}

.history-div1{
  height: auto;

  @media (min-width: 768px) {
    height: 80px;  // 在电脑端的属性
  }
}

.history-select{
  height: auto;

  @media (min-width: 768px) {
    height: 20%;  // 在电脑端的属性
  }
}

.history-chart{
  height: 600px;

  @media (min-width: 768px) {
    height: 80%;  // 在电脑端的属性
  }
}

.hidden-on-desktop {
  /*在电脑端隐藏*/
  @media (min-width: 769px) {
    display: none;
  }
}

.hidden-on-mobile {
  /*在手机端隐藏*/
  @media (max-width: 769px) {
    display: none;
  }
}